.weatherInfo {
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wind {
    color: #ccc;
}

.date {
    color: white;
    background-color: $blue;
    margin-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}

.weatherInfo p {
    text-align: center;
}
